body {
  color: aliceblue;
  background-color: black;
  text-align: center;
  font-family: verdana, sans-serif;
}

.header {
  line-height: 90px;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: aliceblue;
}

.link a {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-family: verdana, sans-serif;
  font-size: 42px;
  font-weight: 300;
}

.information p {
  color: rgb(185, 185, 185);
  font-size: 21px;
}

.footer {
  color: gray;
  font-size: 21px;
  text-align: right;
}
